---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import NoiseOverlay from '../../components/NoiseOverlay.astro';
import GradientBackground from '../../components/GradientBackground.astro';
import GridBackground from '../../components/GridBackground.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-black text-white font-handjet antialiased">
		<div class="relative w-full overflow-x-hidden">
			<NoiseOverlay />
			<GradientBackground />
			<GridBackground />

			<div class="mx-auto flex w-[min(1024px,_100%)] flex-col items-stretch gap-8 p-8">
				<Header />
				<main class="flex flex-col gap-8">
					<h1 class="text-4xl font-bold">blog</h1>
					<section>
						<ul class="grid gap-8 grid-cols-1 md:grid-cols-2">
							{
								posts.map((post) => (
									<li class="group overflow-hidden rounded-md border border-white/10 hover:border-white/20 transition-colors duration-200">
										<a href={`/blog/${post.id}/`} class="flex flex-col h-full">
											<img width={720} height={360} src={post.data.heroImage} alt="" class="object-cover w-full h-48 md:h-40 lg:h-48" />
											<div class="flex flex-col flex-grow gap-2 p-4 bg-white/5 backdrop-blur-sm">
												<h4 class="text-xl font-semibold group-hover:underline">{post.data.title}</h4>
												<p class="text-sm text-white/70">
													<FormattedDate date={post.data.pubDate} />
												</p>
											</div>
										</a>
									</li>
								))
							}
						</ul>
					</section>
				</main>
				<Footer />
			</div>
		</div>
	</body>
</html>
